/* Aqui empiezan toda las filas que contienen al flex */
.row {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    width: 100%;
   justify-content: center;
}


 .rowimage {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .rowpersonalinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

 }
 .rowme{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 140px;
   
 }

 .rowportfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-top: 40px;
    
 }
.col-1 {
   
    display: flex;
    color: white;
    justify-content: right;
  
}

.col-6 {
display :flex;
flex-direction: column;
justify-content: center;


}
.item > svg {
    
    padding: 10px;
    border-radius: 100%;
    background-color: #adadad;
   
}

.item{
    margin-bottom: 7rem;
    text-align: center;
    width: 100%;
}

.container{

display: flex;
justify-content: space-between;
width: 61%;



/* Seccion de experiencia */

}
.col-1exp {
    display: flex;
    color: #adadad;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    
  
    
}
.col-2exp {
    display: flex;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    flex-direction: column;
    text-align: left;
   
   
    
}
.containerexp{
    width: 70%;
    display: flex;
    justify-content: space-between;
    

}

.col-1contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-right: 30px;
   margin-left: 60px;
  
    
}

.col-2contact{
    display: flex;
    flex-direction: row;
    
}
.containercontact {
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
}

.item2 > svg{
    padding: 10px;
    border-radius: 100% ;
    background-color: rgb(102, 101, 101);
}

.item2 {
    margin-bottom: 7rem;
    text-align: center;
}

/* .fullcontainer{
    width: 100%;
   margin: auto;
    max-width: 1080px;
} */

.rowsvg{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.icon-menu{
    color: white;
  
   
   
}
.text-right {
    text-align: left;
    padding: 16px;
} 

.container-menu {
     width: 90%;
     max-width: 1080px;
     margin: auto;

 }